<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Country:</strong>
  <%= @person.country_id %>
</p>

<p>
  <strong>State:</strong>
  <%= @person.state_id %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
