<% @users.each_with_index do |user, index| %>
<tr>
<td><%= index +=1 %></td>
<td><%= user.user_name %></td>
<td>
<%#= link_to "Send Message", "#", class: "btn btn-success btn-xs start-conversation",
"data-sid" => current_user.id, "data-rip" => user.id %>
</td>
</tr>
<% end %>





<% if @current_user  %>
 <h1>Hello User!!!</h1>

<%= image_tag(current_user.avatar.url(:thumb), height: '100', width: '100') %>
<%= current_user.user_name %>

<% else %>
<h1>Hello Users!!!</h1>

<% end %>



  <!-- When submit the form, the view rendered will be the index view of our articles resource -->















<!--             ------------------------ ----------------------------------  -->
       <!--    <%= link_to 'All Posts', controller: 'posts'  %> -->


<div class="row">
    <div class="col-sm-8" style="background-color:lavender;">

            <%- model_class = Post -%>
<div class="page-header">
  <h1>Latest Post</h1>
</div>

<% if @post  %>
<table class="table table-striped">
  <thead>
    <tr>

      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= @post.title %></th><tr>
      <th><%= model_class.human_attribute_name(:text) %></th>
       <td><%= @post.text %></td></tr>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=l @post.created_at %></th>

    </tr>
  </thead>

</table>
<% else %>
  no records
  <%end%>

    </div>
    <div class="col-sm-4" style="background-color:lavenderblush;">
      <%- model_class = Post -%>
<div class="page-header">
  <h1>Latest Comments</h1>
</div>
<% if @comment  %>
<% @comment.each do |comment|%>

<table class="table table-striped">
  <thead>
    <tr>

      <th><%= model_class.human_attribute_name(:commenter) %></th>
      <th><%= comment.commenter %></th><tr>
      <th><%= model_class.human_attribute_name(:body) %></th>
       <td><%= comment.body %></td></tr>


    </tr>
  </thead>

</table>
<% end %>
<% else %>
no
   <% end %>
     <div id="myCarousel" class="carousel slide">
    <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <!-- Carousel items -->
    <div class="carousel-inner">
    <div class="active item"><%= image_tag ('img3.jpg') %>

    <div class="carousel-caption">

        <p>this is sample app2</p>
      </div>


    </div>
    <div class="item"><%= image_tag ('img1.jpg') %></div>

    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
     </div>

  </div>
</div>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span10">

      <!--Sidebar content-->
    <h4>Users </h4>
     <!--Search bar content     ===================                           -->

      <th>Email </th><br>


 <% @users.each do |user| %>
 <td><%= user.email %></td>
 <td><%= user.user_name %></td>
 <% end %>

</div>
    <div class="span">
      password:
      <!--Body content-->
    </div>
  </div>
</div>









<button id="delCookie">DELETE COOKIE</button>

<script>

$(document).ready(function () {
    $("#delCookie").click(function(){
        del_cookie("cookie");
    });

    console.log(document.cookie);
    var visit = getCookie("cookie");
    if (visit == null) {
        alert("plzz create sign up form once!");

        var expire = new Date();
        expire = new Date(expire.getTime() + 7776000000);
        document.cookie = "cookie=here; expires=" + expire;
    }
});

function del_cookie(name)
{
    document.cookie = name + '=; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
}

function getCookie(c_name) {
    var c_value = document.cookie;
    var c_start = c_value.indexOf(" " + c_name + "=");
    if (c_start == -1) {
        c_start = c_value.indexOf(c_name + "=");
    }
    if (c_start == -1) {
        c_value = null;
    } else {
        c_start = c_value.indexOf("=", c_start) + 1;
        var c_end = c_value.indexOf(";", c_start);
        if (c_end == -1) {
            c_end = c_value.length;
        }
        c_value = unescape(c_value.substring(c_start, c_end));
    }
    return c_value;
}



</script>

    <style>
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }
  </style>