<div class="right-form">
 <h4>Contact Information</h4>
 <div class="experience-img"><img src="images/home.jpg" alt=""><p>Chennai , India</p></div>


 <div class="experience-img"><img src="images/email.jpg" alt=""><p>nunerajender0526@gmail.com</p></div>
<div class="experience-img"><img src="images/phone.jpg" alt=""><p>91 9176214284</p></div>

 <div class="clear"> </div>
 </form>

 </div>
 <h4>See My Resume </h4>

      <li><a href="#"/>click me</a></li>

<div class="container">
  <h1>Contact</h1>
  <%= simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>
    <%= f.input :name, :required => true %>
    <%= f.input :email, :required => true %>
    <%= f.input :message, :as => :text, :required => false, :input_html => {:rows => 10} %>
    <div class="hidden">
      <%= f.input :nickname, :hint => 'Leave this field blank!' %>
    </div>
    <div class="form-actions">
      <%= f.button :submit, 'Send message', :class=> "btn btn-primary" %>
    </div>
  <% end %>
</div>
<br>

<h4>location </h4>
<br>
<ul class="bxslider">

    <li><%= image_tag ('pic.jpg') %></li>


</ul>
  <style>

h4   {color:blue}
</style>


<script>
$(document).ready(function(){
  $('.bxslider').bxSlider({
      slideWidth: 500,
    minSlides: 3,
    maxSlides: 3,
    slideMargin: 10,
    pager: false
  });

});
</script>

