
<div class="right-form">
					<h4>Contact Information</h4>
					<div class="experience-img"><img src="images/home.jpg" alt=""><p>Hyderabad , India</p></div>


					<div class="experience-img"><img src="images/email.jpg" alt=""><p>nunerajender15@gmail.com</p></div>
<div class="experience-img"><img src="images/phone.jpg" alt=""><p>+91 9176214284</p></div>
				<div class="clear"> </div>
			</form>

	</div>



<div align="center">
  <h3>Send A message to Us</h3>

  <%= simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>

    <%= f.input :name, :required => true %>
    <%= f.input :email, :required => true %>

    <%= f.input :message, :as => :text, :required => true %>
    <div class= "hidden">
      <%= f.input :nickname, :hint => 'Leave this field blank!' %>
    </div>
    <div>
      </br>
      <%= f.button :submit, 'Send message', :class=> "btn btn-primary" %>
    </div>
  <% end %>
</div>