




 <%= form_tag(posts_path, :method => "get", class: "navbar-form", id: "search-form") do %>
    <div class="input-append">
      <%= text_field_tag :search, params[:search], class: "span2", placeholder: "Search Posts" %>
      <!-- In post to have the "search" icon int the button, we need to use plain HTML instead
           of using a Rails form helper -->
      <button class="btn btn-info" type="submit"><i class="icon-search"></i>submit</button>
    </div>
  <% end %>




<br>
<h2>Import post</h2>

<%= form_tag import_posts_path, multipart: true do %>
<%= file_field_tag :file %></br>
<%= submit_tag "Import"  %>
<% end %>


<%- model_class = Post -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_post_path,
            :class => 'btn btn-primary' %>


<table class="table table-striped">


  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:text) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @post.each do |post| %>
      <tr>
        <td><%= link_to post.id, post_path(post) %></td>
        <td><%= post.title %></td>
        <td><%= post.text %></td>
        <td><%=l post.created_at %></td>

        <td>
<%= link_to t('.show', :default => t("helpers.links.show")), post, :onclick=>"window.open(this.href,'show_post','height=600, width=600');return false;"%>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_post_path(post), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      post_path(post),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<div class="pager">
           <!------------------------------------>
          <%= will_paginate @post, renderer: BootstrapPagination::Rails %>


</div>
